.main_lightbox {
    @include fixed;
    z-index: 20;
    background-color: $color-black-lightbox;
    overflow-x: auto;

    @include flex;
    display: none;

    @include transition;

    &_gallery {
        @include flexBasis(600px);
        @include container(600px);

        @include gallery;
        @include relative;

        @include setResponsiveDesign(600px) {
            gap: 20px;
        }

        .close {
            @include absolute(-50px, unset);
            right: 20px;
            font-size: 1.8em;
            color: $color-white;
            cursor: pointer;
            z-index: 21;

            @include transition;

            &:hover {
                color: $color-orange;
            }
        }

        .featured {
            @include flex;
            @include borderRadius($radius-big);
            background-color: $color-white;

            img {
                @include transition;
            }
        }

        .thumbs {
            @include setResponsiveDesign(600px) {
                gap: 20px;
            }
        }
    }
}