/* PRODUCT SECTION */
@include theme() {
    &_product {
        @include fullWidth;
        @include relative;
        z-index: 1;

        margin-bottom: 40px;

        &_content {
            @include flex;
            row-gap: 40px;
            column-gap: 20px;

            @include setResponsiveDesign($breakpoint-tablet-landscape) {
                @include containerWidth;
            }

            @include setResponsiveDesign($breakpoint-desktop-hd1) {
                gap: 120px;
            }            

            @include setResponsiveDesign($container-max-width) {
                padding: 0;
            }

            &_gallery {
                @include flex1;

                @include setResponsiveDesign($breakpoint-tablet-landscape) {
                    @include flex2(20px);
                }

                @include setResponsiveDesign($breakpoint-desktop-hd1) {
                    @include flex2(60px);
                }

                &_featured {
                    @include relative;
                    margin-bottom: 40px;

                    &_navigation {
                        .nav {
                            display: block;
                            @include absolute(50%, unset);
                            transform: translateY(-50%);

                            width: 40px;
                            height: 40px;
                            background-color: $color-white;
                            font-size: 1.6em;
                            cursor: pointer;

                            @include rounded;
                            @include flex;
                            @include transition;

                            @include setResponsiveDesign($breakpoint-tablet-landscape) {
                                display: none;
                            }

                            &:hover {
                                color: $color-orange;
                            }

                            &.prev {
                                left: 20px;
                            }

                            &.next {
                                right: 20px;
                            }
                        }
                    }

                    img {
                        cursor: pointer;

                        @include setResponsiveDesign($breakpoint-tablet-landscape) {
                            @include borderRadius($radius-big);
                        }
                    }
                }

                &_thumbs {
                    display: none;

                    @include setResponsiveDesign($breakpoint-tablet-landscape) {
                        @include flex(space-between);
                        column-gap: 40px;
                    }

                    .thumb {
                        @include flex4(40px);
                        @include borderRadius;
                        overflow: hidden;
                        cursor: pointer;
                        @include transition;

                        border: 2px solid transparent;

                        &:hover, &.active {
                            border-color: orange;

                            img {
                                opacity: 0.3;
                            }
                        }

                        img {
                            @include transition;
                        }
                    }
                }
            }

            &_info {
                @include flex1;
                @include containerWidth($breakpoint-mobile-landscape);
                @include flex(space-between);

                @include setResponsiveDesign($breakpoint-tablet-landscape) {
                    @include flex2(20px);
                    max-width: auto;
                }

                @include setResponsiveDesign($breakpoint-desktop-hd1) {
                    @include flex2(60px);
                }

                &_title {
                    @include flex1;
                    margin-bottom: 40px;

                    p {
                        text-transform: uppercase;
                        color: $color-orange;
                        font-size: 0.9em;
                        font-weight: 700;
                        letter-spacing: 0.2em;
                        margin-bottom: 20px;
                    }

                    h1 {
                        font-size: 2em;

                        @include setResponsiveDesign($breakpoint-tablet-landscape) {
                            font-size: 3em;
                        } 
                    }
                }

                &_desc {
                    @include flex1;
                    line-height: 1.6em;
                    margin-bottom: 40px;
                }

                &_discountprice {
                    font-size: 1.8em;
                    font-weight: 700;
                    color: $color-very-dark-blue;
                    margin-bottom: 40px;

                    @include flex(flex-start);

                    @include setResponsiveDesign($breakpoint-tablet-landscape) {
                        @include flex1;
                        margin-bottom: 10px;
                    }

                    .discount {
                        display: inline-block;
                        padding: 4px 10px;
                        background-color: $color-pale-orange;
                        color: $color-orange;
                        font-size: 0.6em;
                        margin-left: 20px;
                        @include borderRadius($radius-small);
                    }
                }

                &_currentprice {
                    color: $color-grayish-blue;
                    font-weight: 700;
                    text-decoration: line-through;
                    margin-bottom: 40px;

                    @include setResponsiveDesign($breakpoint-tablet-landscape) {
                        @include flex1;
                    }
                }

                &_action {
                    @include flex1;
                    @include flex(space-between);
                    gap: 10px;

                    &_qt {
                        @include flex1;
                        @include flex;
                        display: flex !important;

                        cursor: default !important;
                        background-color: $color-light-grayish-blue !important;
                        color: $color-very-dark-blue !important;
                        padding: 0 !important;
                        overflow: hidden;

                        @include setResponsiveDesign($breakpoint-desktop-sd) {
                            @include flex3(10px);
                        }

                        &_changeqt {
                            @include flex3;
                            color: $color-orange;
                            text-align: center;

                            padding: {
                                top: 20px;
                                bottom: 20px;
                            }

                            cursor: pointer;
                            @include transition;

                            &:hover {
                                color: $color-orange-hover;
                            }
                        }

                        &_value {
                            @include flex3;
                            text-align: center;
                        }
                    }

                    &_purchase {
                        @include flex1;
                        text-align: center;

                        a {
                            display: block;
                        }

                        @include setResponsiveDesign($breakpoint-desktop-sd) {
                            @include flexBasis(calc((100% / 3) * 2), 10px);
                        }
                    }
                }
            }
        }
    }
}