*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-size: 1em;

    @include setBrowsers(box-sizing, border-box);
}

body {    
    font-family: $font-kumbh-sans-family;
    color: $color-dark-grayish-blue;
}

a {
    text-decoration: none;
}

img {
    @include containerFull;
    max-width: 100%;
}

p {
    font-size: $font-size-paragraph;
}