*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}

body {    
    font-family: $font-kumbh-sans-family;
    color: $color-very-dark-blue;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 100%;
}

p {
    font-size: $font-size-paragraph;
}