.attribution {
    font-size: 11px;
    text-align: center;
    padding: 20px 0;

    a {
        color: $color-very-dark-blue;

        &:hover {
            text-decoration: underline;
        }
      }
  }