.main_header {
    @include containerFull;

    &_content {
        @include container;
        @include flex(space-between, center, nowrap);
        gap: 40px;

        border-bottom: 1px solid $color-grayish-blue;

        @include setResponsiveDesign(1200px) {
            gap: 20px;
        }

        &_logo {
            @include flexBasis(200px, 40px);

            @include setResponsiveDesign(1200px) {
                @include flexBasis(200px, 20px);
            }

            h1 {
                display: none;
            }
        }

        &_menu {
            @include flexBasis(100%, calc(80px + 400px));

            @include setResponsiveDesign(1200px) {
                @include flexBasis(100%, calc(80px + 380px));
            }

            .menu {
                @include flex(flex-start, stretch, nowrap);

                li {
                    @include relative;

                    list-style: none;

                    &:hover .submenu {
                        display: block;
                    }

                    &.menu_item {
                        border-bottom: 5px solid transparent;
                        margin: 0 20px;

                        @include transition;

                        &:hover {
                            border-color: $color-orange;
                        }
                    }

                    a {
                        display: inline-block;
                        font-size: 1.1em;
                        color: $color-dark-grayish-blue;
                        padding: 40px 0;

                        @include transition;

                        &:hover {
                            color: $color-very-dark-blue;
                        }
                    }

                    .submenu {
                        @include dropDown;
                        top: calc(100% + 5px);

                        @include setBrowsers(border-top-left-radius, 0);

                        li {
                            padding: 10px 0;

                            a {
                                font-size: 1.2em;
                                padding: 12px 0;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }

        &_basket {
            @include flexBasis(100px, 40px);
            @include relative;
                
            padding: 40px 0;

            &:hover &_list {
                display: block;
            }

            &_cart {
                @include relative;
                @include flex;

                i {
                    font-size: 1.4em;
                    color: $color-very-dark-blue;
                    cursor: pointer;
                }

                span {
                    @include absolute(0, unset);
                    right: 0;
                    transform: translate(-25%, -50%);

                    display: inline-block;
                    background-color: $color-orange;
                    color: $color-white;
                    font-size: 0.6em;

                    padding: 2px 8px;
                    pointer-events: none;

                    @include borderRadius;
                }
            }

            &_list {
                @include dropDown;
                left: unset;
                right: 0;
                top: 75%;

                padding: {
                    left: 0;
                    right: 0;
                }

                &_title {
                    padding: 0 20px 20px 20px;
                    font-weight: 700;
                    color: $color-very-dark-blue;
                    border-bottom: 1px solid $color-grayish-blue;
                }

                &_product {
                    @include flex(space-between, center, nowrap);

                    padding: 20px;

                    &_img {
                        @include flexBasis(60px);
                        cursor: pointer;

                        img {
                            @include borderRadius($radius-small);
                        }
                    }

                    &_desc {
                        cursor: pointer;
                        line-height: 1.8em;

                        strong {
                            color: $color-very-dark-blue;
                        }
                    }

                    &_delete {
                        @include flexBasis(20px);
                        @include flex;
                        color: $color-grayish-blue;
                        cursor: pointer;
                    }
                }

                &_checkout {
                    padding: 20px 20px 0 20px;
                    @include flex;

                    a {
                        @include btn;
                        @include flex1;
                    }
                }
            }
        }
        
        &_account {
            @include flexBasis(100px, 40px);

            .avatar {
                img {
                    border: 2px solid transparent;
                    @include rounded;
                    @include transition;

                    &:hover {
                        border-color: $color-orange;
                    }
                }
            }
        }
    }
}