.main_header {
    @include containerFull;

    &_content {
        @include container;
        @include flex(space-between, center, nowrap);
        gap: 40px;

        border-bottom: 1px solid $color-grayish-blue;

        &_logo {
            @include flexBasis(200px, 40px);

            h1 {
                display: none;
            }
        }

        &_menu {
            @include flexBasis(100%, calc(80px + 400px));

            .menu {
                @include flex(flex-start, stretch, nowrap);

                li {
                    @include relative;

                    &:hover .submenu {
                        display: block;
                    }

                    &.menu_item {
                        border-bottom: 3px solid transparent;

                        &:hover {
                            border-color: $color-orange;
                        }
                    }

                    a {
                        display: inline-block;
                        font-size: 1.1em;
                        margin-right: 20px;
                        color: $color-dark-grayish-blue;
                        padding: 40px 0;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .submenu {
                        @include dropDown;

                        li {
                            padding: 10px 0;

                            a {
                                font-size: 1.2em;
                                padding: 12px 0;
                            }
                        }
                    }
                }
            }

            li {
                list-style: none;
            }
        }

        &_purchase {
            @include flexBasis(100px, 40px);
            @include relative;

            &:hover &_list {
                display: block;
            }

            &_list {
                @include dropDown;
                left: unset;
                right: 0;
            }
        }
        
        &_account {
            @include flexBasis(100px, 40px);
        }
    }
}