.main_lightbox {
    @include fixed;
    z-index: 20;
    background-color: $color-black-lightbox;
    overflow-x: auto;

    @include flex;
    display: none;

    &_gallery {
        @include flexBasis(600px);
        @include container(600px);

        @include gallery;
        @include relative;

        @include setResponsiveDesign(600px) {
            gap: 20px;
        }

        .close {
            @include absolute(-50px, unset);
            right: 0;
            font-size: 1.8em;
            color: $color-white;
            cursor: pointer;

            @include transition;

            @include setResponsiveDesign(600px) {
                right: 20px;
            }

            &:hover {
                color: $color-orange;
            }
        }

        .thumbs {
            @include setResponsiveDesign(600px) {
                gap: 20px;
            }
        }
    }
}