.main_lightbox {
    @include fixed;
    z-index: 20;
    background-color: $color-black-lightbox;

    @include flex;

    &_gallery {
        @include flexBasis(600px);
        max-width: 600px;

        @include gallery;
        @include relative;

        .close {
            @include absolute(-50px, unset);
            right: 0;
            font-size: 1.8em;
            color: $color-white;
            cursor: pointer;

            @include transition;

            &:hover {
                color: $color-orange;
            }
        }

        .featured {
            @include relative;

            .navigation {
                @include absolute(50%);
                @include containerFull;
                @include flex(space-between, center, nowrap);
    
                transform: translateY(-50%);

                .nav {
                    width: 60px;
                    height: 60px;
                    background-color: $color-white;
                    font-size: 1.6em;
                    cursor: pointer;

                    @include flex;
                    @include rounded;
                    @include transition;

                    &:hover {
                        color: $color-orange;
                    }

                    &.prev {
                        transform: translateX(-50%);
                    }

                    &.next {
                        transform: translateX(50%);
                    }
                }
            }
        }
    }
}