.main_product {
    @include containerFull;
    margin: 80px 0;

    @include setResponsiveDesign(890px) {
        margin-top: 0;
    }

    &_content {
        @include container;
        @include flex(center, center, nowrap);
        gap: 120px;

        @include setResponsiveDesign(1100px) {
            gap: 40px;
        }

        @include setResponsiveDesign(890px) {
            padding: 0;
            flex-wrap: wrap;
        }

        &_images {
            @include flex2(120px);
            @include gallery;

            @include setResponsiveDesign(1100px) {
                @include flex2;
            }

            @include setResponsiveDesign(890px) {
                @include flex1;
            }

            .featured {
                .navigation {
                    display: none;

                    @include setResponsiveDesign(890px) {
                        display: flex;
                    }

                    .nav {
                        @include setResponsiveDesign(600px) {
                            width: 40px;
                            height: 40px;
                        }
                        
                        &.prev {
                            transform: translateX(20px);
                        }

                        &.next {
                            transform: translateX(-20px);
                        }
                    }
                }  

                img {
                    @include setResponsiveDesign(890px) {
                        @include borderRadius(0);
                    }
                }
            }

            .thumbs {
                @include setResponsiveDesign(890px) {
                    display: none;
                }
            }
        }

        &_info {
            @include flex2(120px);

            @include flex(space-between, center, wrap);

            @include setResponsiveDesign(1100px) {
                @include flex2;
            }

            @include setResponsiveDesign(890px) {
                @include flex1;
                @include container(500px);
            }

            &_title {
                margin-bottom: 40px;

                @include flex1;

                p {
                    text-transform: uppercase;
                    color: $color-orange;
                    font-size: 0.9em;
                    font-weight: 700;
                    letter-spacing: 0.2em;
                    margin-bottom: 20px;
                }

                h2 {
                    font-size: 3em;
                    color: $color-very-dark-blue;

                    @include setResponsiveDesign(500px) {
                        font-size: 2em;
                    }
                }
            }

            &_desc {
                line-height: 1.6em;
                margin-bottom: 40px;

                @include flex1;
            }

            &_discount_price {
                font-size: 1.8em;
                font-weight: 700;
                color: $color-very-dark-blue;

                margin-bottom: 10px;

                @include flex1;

                @include flex(flex-start, center, nowrap);

                @include setResponsiveDesign(890px) {
                    margin-bottom: 40px;
                    @include flex2;
                }

                @include setResponsiveDesign(400px) {
                    @include flexBasis(70%);
                }

                span {
                    display: inline-block;
                    padding: 4px 10px;
                    background-color: $color-pale-orange;
                    color: $color-orange;
                    font-size: 0.6em;
                    margin-left: 20px;

                    @include borderRadius($radius-small);
                }
            }

            &_current_price {
                color: $color-grayish-blue;
                font-weight: 700;
                text-decoration: line-through;
                margin-bottom: 40px;

                @include flex1;

                @include setResponsiveDesign(890px) {
                    @include flex2;
                    text-align: right;
                }

                @include setResponsiveDesign(400px) {
                    @include flexBasis(30%);
                }
            }

            &_action {
                @include flex1;
                @include flex(flex-start, center, nowrap);
                gap: 20px;

                @include setResponsiveDesign(890px) {
                    flex-wrap: wrap;
                }

                &_qt {             
                    @include flex3;
                    
                    @include btn;
                    @include flex(center, center, nowrap);
                    padding: 0;

                    background-color: $color-light-grayish-blue;
                    color: $color-very-dark-blue;

                    @include setResponsiveDesign(890px) {
                        @include flex1;
                    }

                    &:hover {
                        background-color: $color-light-grayish-blue;
                    }

                    &_minus, &_plus {
                        @include flex3;
                        padding: 20px;
                        cursor: pointer;
                        color: $color-orange;

                        @include transition;

                        &:hover {
                            color: $color-orange-hover;
                        }

                        i {
                            margin: 0;
                        }
                    }

                    &_value {
                        @include flex3;
                        padding: 20px;
                    }
                }

                &_purchase {
                    @include flexBasis(66.66%);
                    @include flex;

                    @include setResponsiveDesign(890px) {
                        @include flex1;
                    }

                    a {
                        @include flex1;
                        @include btn;
                    }
                }
            }
        }
    }
}