// LAYOUT
$layout-mobile:  375px;
$layout-desktop: 1440px;

//COLORS
// Primary
$color-orange:       hsl(26, 100%, 55%);
$color-pale-orange:  hsl(25, 100%, 94%);
$color-orange-hover: hsl(27, 100%, 71%);

// Neutral
$color-very-dark-blue:     hsl(220, 13%, 13%);
$color-dark-grayish-blue:  hsl(219, 9%, 45%);
$color-grayish-blue:       hsl(220, 14%, 75%);
$color-light-grayish-blue: hsl(223, 64%, 98%);
$color-white:              hsl(0, 0%, 100%);
$color-black-lightbox:     hsla(0, 0%, 0%, 0.75);
$color-shadow:             hsla(0, 0%, 0%, 0.4);

// TIPOGRAPHY
// Body Copy
$font-size-paragraph: 16px;

//Font
$font-kumbh-sans-family: 'Kumbh Sans', sans-serif;

// CONTAINER PAGE WIDTH
$container-max-width: 1300px;

// BROWSER CORES
$browsers-default: ("moz", "webkit");

// BORDER RADIUS
$radius-default: 10px;
$radius-small:   6px;
$radius-big:     14px;